flows.json
[{"id":"50118b9c.587c54","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"83c29a4f.b674f8","type":"chatbot-telegram-receive","z":"50118b9c.587c54","bot":"3f048b6a.469c84","botProduction":"3f048b6a.469c84","x":130,"y":240,"wires":[["530b6d07.237e64"]]},{"id":"311eb449.a6067c","type":"chatbot-telegram-send","z":"50118b9c.587c54","bot":"3f048b6a.469c84","botProduction":"3f048b6a.469c84","track":false,"passThrough":false,"outputs":0,"x":730,"y":120,"wires":[]},{"id":"eea32fa.aa87ed","type":"http request","z":"50118b9c.587c54","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://hrecreo.ml:50002/traficoactual?calle=Paseo La Castellana","tls":"","proxy":"","authType":"basic","x":470,"y":240,"wires":[["afbaa12.5d2036"]]},{"id":"530b6d07.237e64","type":"chatbot-rules","z":"50118b9c.587c54","name":"","rules":[{"type":"command","command":"/start"},{"type":"command","command":"/trafico"},{"type":"command","command":"/calles"},{"type":"catchAll"}],"outputs":4,"x":310,"y":240,"wires":[["ac0bd4a4.ec09b8"],["eea32fa.aa87ed"],["43c19cae.7204a4"],["ac0bd4a4.ec09b8"]]},{"id":"ac0bd4a4.ec09b8","type":"chatbot-message","z":"50118b9c.587c54","name":"","message":[{"message":"Hola, puedo decirte el tráfico, para eso escribe /trafico seguido del nombre de la calle que desees consultar. Si quieres saber las calles consultables, escribre /calles"}],"answer":false,"silent":false,"x":470,"y":160,"wires":[["311eb449.a6067c"]]},{"id":"13f06bea.054014","type":"chatbot-message","z":"50118b9c.587c54","name":"","message":[{"message":""}],"answer":false,"silent":false,"x":850,"y":240,"wires":[["311eb449.a6067c"]]},{"id":"f52f478c.823298","type":"function","z":"50118b9c.587c54","name":"","func":"msg.payload=\"El tráfico actual en la calle Paseo La Castellana es \"+msg.payload.traficoactual;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":240,"wires":[["13f06bea.054014"]]},{"id":"afbaa12.5d2036","type":"json","z":"50118b9c.587c54","name":"","property":"payload","action":"","pretty":false,"x":610,"y":240,"wires":[["f52f478c.823298"]]},{"id":"43c19cae.7204a4","type":"function","z":"50118b9c.587c54","name":"","func":"msg.payload=\"Actualmente solo se está monitorizando la calle Paseo La Castellana, podrías escribir /trafico sin tener que escribir /trafico Paseo La Castellana\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":300,"wires":[["71e11dfc.3150c4"]]},{"id":"71e11dfc.3150c4","type":"chatbot-message","z":"50118b9c.587c54","name":"","message":[{"message":""}],"answer":false,"silent":false,"x":850,"y":300,"wires":[["311eb449.a6067c"]]},{"id":"3f048b6a.469c84","type":"chatbot-telegram-node","z":"","botname":"Trafico","usernames":"","providerToken":"","polling":"1000","store":"3b97dc70.d2e074","log":"","parseMode":"","debug":false},{"id":"3b97dc70.d2e074","type":"chatbot-context-store","z":"","name":"chat","contextStorage":"memory","contextParams":""}]